# Ignore all venv directories in the repository
**/venv      

# Python-specific files
**/__pycache__         

# IDE and editor folders and settings
**/.vscode         


# Go coverage profiles
coverage.out
*.coverprofile

# Go test binaries
*.test

# (optional) other Go coverage files
coverage.html


# Pytest / Unit Test directories
**/.cache          
**/nosetests.xml    
**/coverage.xml     
**/*.cover          

# Python packaging
**/dist            
**/build           

# Local configuration files
**/*.log            
